body {
    padding: 0;
    margin: 0;
}

.portfolio img {
    height: 80vh;
    padding-top: 10px;
}

@media (max-width: 769px) {
    .portfolio img {
        height: 60vh;
        padding-top: 10px;
    }
    .small img {
        height: 33vh;
        padding-top: 10px;
    }
}